h1 {
  color: white;
}

span {
  color: white;
}

.outerContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  height: 100vh;
  width: 100vw;
}

.flag {
  width: 500px;
  height: 500px;
  object-fit: contain;
  border-radius: 12px;
  overflow: hidden;
}

.answerButtons {
  display: flex;
  gap: 20px;
}

.custom-btn {
  background-color: #4f46e5; /* Indigo-600 */
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-btn:hover {
  background-color: #4338ca; /* Indigo-700 */
  transform: translateY(-2px);
}

.custom-btn:active {
  transform: scale(0.98);
}

.refresh {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 50px;
  height: 50px;
  scale: 3;
  cursor: pointer;
}

.disabled {
  background-color: rgba(181, 181, 181, 0.5);
  cursor: not-allowed;
  pointer-events: none;
}

.history {
  display: flex;
  overflow-x: scroll;
  gap: 12px;
  padding: 10px;
  white-space: nowrap;
  scroll-behavior: smooth;
  width: 90vw;
}

.historyItem {
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 12px; /* ширина вертикальной полосы */
  height: 12px; /* высота горизонтальной полосы */
}

/* Ползунок (thumb) */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  border: 3px solid #222; /* отступ вокруг ползунка */
}

/* Трек (background полосы) */
::-webkit-scrollbar-track {
  background: #222;
  border-radius: 6px;
}
